%p.center-text
	%a{href: "http://twitter.com/PetCuida", target: "_blank"} twitter
	\   |   
	%a{href: "http://www.facebook.com/PetCuida", target: "_blank"} facebook
	\   |   
	%a{href: "https://plus.google.com/118141537444219567534", target: "_blank", :rel => "publisher"} google+
%span.pull-right Pet Cuida © 2012 &nbsp;&nbsp;&nbsp;